<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Arahkan semua permintaan ke dalam folder public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
